[Jiri\Subscribe\Components\SubscribeForm subscribeform]
==
<?php
  use Jiri\Jkshop\Models\Category;
  function onStart(){
    $this['categories'] = Category::get();
  }
?>
==

<div class="footer">
    {% component 'subscribeform' %}
    <div class="top-footer d-lg-block d-none">
        <div class="container d-flex justify-content-between">
            <div class="flex-column footer-logo">
                <img src="{{'assets/img/icon/logo-juzshoplah-merah.png'|theme}}"
                     srcset="{{'assets/img/icon/logo-juzshoplah-merah@2x.png 2x'|theme}},
                        {{'assets/img/icon/logo-juzshoplah-merah@3x.png 3x'|theme}}" alt="Logo Juzshoplah">
            </div>
            <div class="flex-column contact-us">
                <h4 class="fs-16">Contact Us</h4>
                <p class="address">Wisma 77 Tower 2 Lt. 21, Jl. S. Parman Kav. 77, RT.6/RW.3, Slipi, Palmerah, RT.6/RW.3, Slipi, Palmerah, Kota Jakarta Barat</p>
                <p class="text-red fs-16 mb-10">
                    <i>
                        <img src="{{'assets/img/icon/local-phone-red.png'|theme}}"
                           srcset="{{'assets/img/icon/local-phone-red@2x.png 2x'|theme}},
                        {{'assets/img/icon/local-phone-red@3x.png 3x'|theme}}" alt="Phone">
                    </i>
                    021 - 12345678
                </p>
                <p class="text-red fs-16">
                    <i>
                        <img src="{{'assets/img/icon/email-red.png'|theme}}"
                             srcset="{{'assets/img/icon/email-red@2x.png 2x'|theme}},
                        {{'assets/img/icon/email-red@3x.png 3x'|theme}}" alt="Email">
                    </i>
                    support@juzshoplah.com
                </p>
            </div>
            <div class="flex-column juzshoplah">
                <h4 class="fs-16">Juzshoplah</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Locate Juzshoplah Shops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Our Investors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Press Center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Become Juzshoplah Champion</a>
                    </li>
                </ul>
            </div>
            <div class="flex-column payment-methods">
                <h4 class="fs-16">Payment Methods</h4>
                <ul class="nav justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="">
                            <i>
                                <img src="{{'assets/img/icon/payment-visa.png'|theme}}"
                                     srcset="{{'assets/img/icon/payment-visa@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-visa@3x.png 3x'|theme}}" alt="Visa">
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i>
                                <img src="{{'assets/img/icon/payment-mastercard.png'|theme}}"
                                     srcset="{{'assets/img/icon/payment-mastercard@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-mastercard@3x.png 3x'|theme}}" alt="Mastercard">
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i>
                                <img src="{{'assets/img/icon/payment-jcb.png'|theme}}"
                                     srcset="{{'assets/img/icon/payment-jcb@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-jcb@3x.png 3x'|theme}}" alt="JCB">
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i>
                                <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                                     srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}" alt="BCA">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex-column jasa-pengiriman">
                <h4 class="fs-16">Jasa Pengiriman</h4>
                <ul class="nav justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="">
                            <i>
                                <img src="{{'assets/img/icon/jasa-jne.png'|theme}}"
                                     srcset="{{'assets/img/icon/jasa-jne@2x.png 2x'|theme}},
                                     {{'assets/img/icon/jasa-jne@3x.png 3x'|theme}}" alt="JNE">
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i>
                                <img src="{{'assets/img/icon/jasa-grab.png'|theme}}"
                                     srcset="{{'assets/img/icon/jasa-grab@2x.png 2x'|theme}},
                                     {{'assets/img/icon/jasa-grab@3x.png 3x'|theme}}" alt="Grab">
                            </i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i>
                                <img src="{{'assets/img/icon/jasa-pickup-service.png'|theme}}"
                                     srcset="{{'assets/img/icon/jasa-pickup-service@2x.png 2x'|theme}},
                                     {{'assets/img/icon/jasa-pickup-service@3x.png 3x'|theme}}" alt="Pickup Service">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top-footer d-lg-none d-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-logo">
                        <img src="{{'assets/img/icon/logo-juzshoplah-merah.png'|theme}}"
                             srcset="{{'assets/img/icon/logo-juzshoplah-merah@2x.png 2x'|theme}},
                        {{'assets/img/icon/logo-juzshoplah-merah@3x.png 3x'|theme}}" alt="Logo Juzshoplah">
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-7">
                    <div class="contact-us">
                        <h4 class="fs-16">Contact Us</h4>
                        <p class="address">Wisma 77 Tower 2 Lt. 21, Jl. S. Parman Kav. 77, RT.6/RW.3, Slipi, Palmerah, RT.6/RW.3, Slipi, Palmerah, Kota Jakarta Barat</p>
                        <p class="text-red fs-16 mb-10">
                            <i>
                                <img src="{{'assets/img/icon/local-phone-red.png'|theme}}"
                                     srcset="{{'assets/img/icon/local-phone-red@2x.png 2x'|theme}},
                        {{'assets/img/icon/local-phone-red@3x.png 3x'|theme}}" alt="Phone">
                            </i>
                            021 - 12345678
                        </p>
                        <p class="text-red fs-16">
                            <i>
                                <img src="{{'assets/img/icon/email-red.png'|theme}}"
                                     srcset="{{'assets/img/icon/email-red@2x.png 2x'|theme}},
                        {{'assets/img/icon/email-red@3x.png 3x'|theme}}" alt="Email">
                            </i>
                            support@juzshoplah.com
                        </p>
                    </div>
                    <div class="payment-methods d-none d-md-block">
                        <h4 class="fs-16">Payment Methods</h4>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-visa.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-visa@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-visa@3x.png 3x'|theme}}" alt="Visa">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-mastercard.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-mastercard@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-mastercard@3x.png 3x'|theme}}" alt="Mastercard">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-jcb.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-jcb@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-jcb@3x.png 3x'|theme}}" alt="JCB">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}" alt="BCA">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="juzshoplah">
                        <h4 class="fs-16">Juzshoplah</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Locate Juzshoplah Shops</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Our Investors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Careers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Press Center</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Become Juzshoplah Champion</a>
                            </li>
                        </ul>
                    </div>

                    <div class="payment-methods d-block d-md-none">
                        <h4 class="fs-16">Payment Methods</h4>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-visa.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-visa@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-visa@3x.png 3x'|theme}}" alt="Visa">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-mastercard.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-mastercard@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-mastercard@3x.png 3x'|theme}}" alt="Mastercard">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-jcb.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-jcb@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-jcb@3x.png 3x'|theme}}" alt="JCB">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}},
                                     {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}" alt="BCA">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="jasa-pengiriman">
                        <h4 class="fs-16">Jasa Pengiriman</h4>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/jasa-jne.png'|theme}}"
                                             srcset="{{'assets/img/icon/jasa-jne@2x.png 2x'|theme}},
                                     {{'assets/img/icon/jasa-jne@3x.png 3x'|theme}}" alt="JNE">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/jasa-grab.png'|theme}}"
                                             srcset="{{'assets/img/icon/jasa-grab@2x.png 2x'|theme}},
                                     {{'assets/img/icon/jasa-grab@3x.png 3x'|theme}}" alt="Grab">
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i>
                                        <img src="{{'assets/img/icon/jasa-pickup-service.png'|theme}}"
                                             srcset="{{'assets/img/icon/jasa-pickup-service@2x.png 2x'|theme}},
                                     {{'assets/img/icon/jasa-pickup-service@3x.png 3x'|theme}}" alt="Pickup Service">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container d-block d-md-flex justify-content-between">
            <div class="d-block d-md-none mb-2">
                <a href="">Syarat & Ketentuan&nbsp;</a>
                |
                <a href="">&nbsp;Kebijakan Privasi</a>
            </div>
            <p>Copyright © 2018 Juzshoplah.com.  All Rights Reserved.</p>
            <div class="d-none d-md-flex">
                <a href="">Syarat & Ketentuan&nbsp;</a>
                |
                <a href="">&nbsp;Kebijakan Privasi</a>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script type="text/javascript">
</script>
{% endput %}
