[staticMenu]
code = "main-menu"

[viewBag]
==
<?php
	use Jiri\Jkshop\Models\Category;
	function onStart(){
		$this['category'] = Category::orderBy('id','desc')->paginate(3);
$this['categories'] = Category::get();
}
?>
==
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="float-right">
                <div class="d-md-block d-none">
                    <a class="inline" href="">Login Vendor</a>
                    <a class="inline" href="">Registrasi Vendor</a>
                    <a class="inline" href="">Blog</a>
                </div>
                <div class="d-md-none d-block">
                    <i>
                        <img src="{{'assets/img/icon/local-phone-white.png'|theme}}"
                             srcset="{{'assets/img/icon/local-phone-white@2x.png 2x'|theme}},
                         {{'assets/img/icon/local-phone-white@3x.png 3x'|theme}}" alt="juzshoplah">
                    </i>
                    <span class="ml-8 phone-number white">Call us now 0812 3456 7890</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto col-md-3 col-lg-2 pr-0">
                    <div class="logo">
                        <img src="{{'assets/img/icon/logo-juzshoplah-putih.png'|theme}}"
                             srcset="{{'assets/img/icon/logo-juzshoplah-putih@2x.png 2x'|theme}},
                             {{'assets/img/icon/logo-juzshoplah-putih@3x.png 3x'|theme}}" alt="juzshoplah">
                    </div>
                </div>
                <div class="d-none d-md-block col-md-5 col-lg-6 col-xl-7 align-self-center pl-0">
                    <form class="form-inline input-group">
                        <input type="text" class="form-control" placeholder="Search for products, brands, & shops" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <img src="{{'assets/img/icon/ion-android-search-ionicons.png'|theme}}"
                             srcset="{{'assets/img/icon/ion-android-search-ionicons@2x.png 2x'|theme}},
                             {{'assets/img/icon/ion-android-search-ionicons@3x.png 3x'|theme}}" alt="search" class="position-absolute">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button">CARI</button>
                        </div>
                    </form>
                </div>
                <div class="d-none d-md-block col-md-4 col-lg-4 col-xl-3 align-self-center">
                    <div class="row no-gutters">
                        <div class="float-left col-sm-2 align-self-center local-grocery">
                            <img src="{{'assets/img/icon/local-grocery-store-material.png'|theme}}"
                                 srcset="{{'assets/img/icon/local-grocery-store-material@2x.png 2x'|theme}},
                         {{'assets/img/icon/local-grocery-store-material@3x.png 3x'|theme}}" alt="cart" class="float-left">
                        </div>
                        <div class="button-group col-sm-10 align-self-center">
                            <a href="" class="btn float-right btn-warning fs-14 ph-25 ml-10">REGISTER</a>
                            <a href="" class="btn float-right btn-outline-warning fs-14 ph-25 white bw-2">LOGIN</a>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none col-auto align-self-center">
                    <div class="row no-gutters">
                        <div class="local-grocery">
                            <a href="">
                                <img src="{{'assets/img/icon/search-white.png'|theme}}"
                                     srcset="{{'assets/img/icon/search-white@2x.png 2x'|theme}},
                                {{'assets/img/icon/search-white@3x.png 3x'|theme}}" alt="cart">
                            </a>
                            <a href="">
                                <img src="{{'assets/img/icon/local-grocery-store-material.png'|theme}}"
                                     srcset="{{'assets/img/icon/local-grocery-store-material@2x.png 2x'|theme}},
                                {{'assets/img/icon/local-grocery-store-material@3x.png 3x'|theme}}" alt="cart">
                            </a>
                            <a href="">
                                <img src="{{'assets/img/icon/burger-button-white.png'|theme}}"
                                     srcset="{{'assets/img/icon/burger-button-white@2x.png 2x'|theme}},
                                {{'assets/img/icon/burger-button-white@3x.png 3x'|theme}}" alt="cart">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="nav">
                        <div class="nav-item">
                            <a class="nav-link pl-0" href="">TOURISM</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="">NATURAL PRODUCTS</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="">HANDICRAFTS</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="">AGRICULTURE PRODUCTS</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="">FASHION</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="">EVENTS</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="">TRADESHOW</a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-4 col-lg-3 text-right">
                    <img src="{{'assets/img/icon/local-phone-material.png'|theme}}"
                         srcset="{{'assets/img/icon/local-phone-material@2x.png 2x'|theme}},
                             {{'assets/img/icon/local-phone-material@3x.png 3x'|theme}}" alt="juzshoplah">
                    <span class="font-weight-500 ml-8 phone-number">Call us now 0812 3456 7890</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script>

</script>
{% endput %}
