<div class="newsletter">
    <div class="container">
        <div class="newsletter-content d-lg-flex justify-content-between">
            <div class="r6-left flex-column">
                <div class="r6-text-01">NEWSLETTER</div>
                <div class="r6-text-02">
                    Dapatkan semua informasi terbaru tentang event, potongan harga, dan penawaran special dari kami.
                </div>
            </div>
            <div class="r6-right flex-column">
                <form data-request="onSend" role="form" method="post">
                    <input class="subscribe-form" type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Masukkan email kamu disini...">
                    <button class="subscribe-submit" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
