description = "Default layout"

[session]
security = "all"

[myBasket]
idElementTotalCartPrice = "#jkshop-total-basket"
idElementWrapperBasketComponent = "#jkshop-basket-component-wrapper"
productPage = "categories"

[account]
paramCode = "code"
==
<?php
function onStart() {
}
?>
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.meta_title }} {{ record.tagline }} {{ record.name }}</title>
    <meta name="description" content="{{ this.page.meta_description }} {{record.description|raw}}">
    <meta name="title" content="{{ this.page.meta_title }} {{ record.tagline }} {{ record.name }}">
    <meta name="author" content="davidrica">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="generator" content="davidrica">
    <!-- <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" /> -->
    <meta property="og:title" content="{{ this.page.meta_title }} {{ record.tagline }} {{ record.name }}" />
    <meta property="og:description" content="{{ this.page.meta_description }} {{record.description|raw}}">
    <link rel="alternate" href="https://www.davidrica.com" />
    {% styles %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="{{'assets/vendor/semantic-ui/dist/components/placeholder.min.css'|theme }}" rel="stylesheet">
    <link href="{{'assets/dist/css/style.css'|theme }}" rel="stylesheet">
</head>
<body>
{% partial 'header' %}
{% if this.page.id == 'homepage' %}
{% page %}
{% else %}
{% page %}
{% endif %}

{% partial 'footer' %}
{# There is a problem to compile javascript using webpack.mix.js, temporary using gulp #}
{#<script src="{{['assets/js/jquery-3.3.1.min.js', 'assets/dist/js/all.js']|theme }}"></script>#}
<script src="{{ 'assets/compiled/js/all.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>
