.related-products-wrapper {
    .section-body.related-products {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(223, 223, 223, 0.5);
        -moz-box-shadow: 0 1px 3px 0 rgba(223, 223, 223, 0.5);
        box-shadow: 0 1px 3px 0 rgba(223, 223, 223, 0.5);
        background-color: #ffffff;
        padding: 20px 9px;
        .col {
            padding-left: 9px;
            padding-right: 9px;
        }
        .highlight-item {
            max-width: 242.41px;
            &:hover {
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);;
            }
            a {
                color: $light-black;
                &:hover {
                    text-decoration: none;
                }
            }
            .item {
                padding-bottom: 7px;
                .product-image {
                    width: 100%;
                    height: auto;
                    margin-bottom: 16px;
                }
                p {
                    min-height: 38px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}

@media (max-width: 1229px) {
    .related-products-wrapper {
        .section-body.related-products {
            .highlight-item {
                max-width: 184.41px;
            }
        }
    }
}

@media (max-width: 767px) {
    .related-products-wrapper {
        .section-body.related-products {
            padding: 14px 13.5px;
            .col {
                padding-left: 0;
                padding-right: 14px;
            }
            .highlight-item {
                max-width: 168.4px;
                .item {
                    .product-image {
                        margin-bottom: 11px;
                        width: 154.4px;
                        height: 154.4px;
                        object-fit: cover;
                    }
                    p {
                        font-size: 11px;
                        line-height: 1.5;
                        min-height: 32px;
                        margin-bottom: 2px;
                    }
                    h4.fs-20 {
                        font-size: 13.7px;
                    }
                }
            }
        }
    }
}
