.footer {
    .top-footer {
        padding-top: 40px;
        padding-bottom: 73px;
        h4 {
            margin-bottom: 18px;
        }
        .footer-logo {
            width: 111px;
            //margin-right: 49px;
        }
        .contact-us {
            max-width: 340px;
            //margin-right: 54px;
            .address {
                line-height: 1.79;
                margin-bottom: 21px;
            }
            i {
                width: 18px;
                margin-right: 14px;
            }
        }
        .juzshoplah {
            max-width: 196px;
            //margin-right: 24px;
            a {
                color: $text-grey;
                padding: 0;
                line-height: 2.14;
            }
        }
        .payment-methods {
            width: 160px;
            .nav-item {
                padding-top: 10px;
            }
            a {
                padding: 0;
            }
        }
        .jasa-pengiriman {
            width: 223px;
            .nav-item {
                padding-top: 10px;
            }
            a {
                padding: 0;
            }
        }
    }
    .bottom-footer {
        background-color: $light-grey;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 12px;
        p {
            color: $text-grey;
        }
        a {
            color: $light-black;
        }
    }
}

@media (max-width: 1229px) {

}

@media (max-width: 991px) {
    .footer {
        .top-footer {
            .container {
                padding-right: 30px;
                padding-left: 50px;
                .footer-logo {
                    margin-bottom: 38px;
                }
                .contact-us {
                    margin-bottom: 63px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .top-footer {
            padding-bottom: 60px;
            .container {
                padding-right: 25px;
                padding-left: 25px;
                .footer-logo {
                    margin-bottom: 38px;
                }
                .contact-us {
                    margin-bottom: 33px;
                }
                .payment-methods.d-block.d-md-none {
                    margin-top: 33px;
                    margin-bottom: 42px;
                }
            }
        }
        .bottom-footer {
            text-align: center;
        }
    }
}
