body {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #4a4a4a;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
    line-height: normal;
    font-weight: bold;
}

img {
    width: 100%;
}

i img {
    width: initial;
}

p {
    margin-bottom: 0;
}

::placeholder {
    color: $placeholder;
}

.font-weight-500 {
    font-weight: 500;
}

.text-red {
    color: $text-red;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.ph-7p5 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.ph-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.pr-7p5 {
    padding-right: 7.5px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-7p5 {
    padding-left: 7.5px;
}

.pl-10 {
    padding-left: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-7 {
    margin-bottom: 7px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.white {
    color: white;
}

.bw-2 {
    border-width: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Bootstrap Custom
|--------------------------------------------------------------------------
*/

.btn {
    font-size: 16px;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 32px;
}

.btn:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.btn-warning {
    background-color: $butterscotch;
    color: #fff;
    border-color: transparent;
}

.btn-warning:hover, .btn-outline-warning:hover {
    color: white;
}

.btn-outline-warning {
    border-color: $butterscotch;
}


.btn-outline-warning:hover {
    background-color: $butterscotch;
}

.form-control:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-color: #ced4da;
}

@media (min-width: 1230px) {
    .container {
        max-width: 1230px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    h4 {
        font-size: 20px;
    }
    .fs-18 {
        font-size: 16px;
    }
}
