/* Header */
.header {
    ::placeholder {
        color: $placeholder;
    }
    .top-header {
        height: 35px;
        background-color: $dark-red;
        .float-right {
            line-height: 35px;
            a {
                color: white;
                margin-left: 28px;
            }
        }
    }
    .bottom-header {
        height: 100px;
        background-color: $neon-red;
        .logo {
            line-height: 100px;
            img {
                width: 125px;
            }
        }
        .input-group {
            line-height: 100px;
            .form-control {
                padding-left: 55px;
            }
            img {
                z-index: 99;
                left: 15px;
                top: 50%;
                transform: translate(0, -50%);
                width: 21px;
            }
        }
        .local-grocery img {
            width: 24px;
        }
    }
    .nav-header {
        background-color: $light-grey;
        padding-top: 10px;
        padding-bottom: 10px;
        ::-webkit-scrollbar {
            background: transparent;  /* optional: just make scrollbar invisible */
        }
        .nav {
            display: -webkit-box;
            overflow-x: auto;
            .nav-link {
                padding-top: 0;
                padding-bottom: 0;
                font-weight: normal;
                font-size: 14px;
                color: $light-black;
            }
        }
        .phone-number {
            line-height: normal;
        }
        img {
            width: 12px;
        }
    }
}

@media (max-width: 1229px) {
    .header {
        .bottom-header {
            .col-md-4 {
                padding-left: 0;
            }
        }
        .nav-header {
            max-height: 36px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        .bottom-header {
            .col-md-6 {
                .input-group {
                    .btn {
                        padding-left: 28px;
                        padding-right: 28px;
                    }
                }
            }
            .button-group {
                .ph-25 {
                    padding-left: 12px !important;
                    padding-right: 12px !important;
                }
            }
        }
        .nav-header {
            .nav {
                .nav-link {
                    font-size: 12px;
                }
            }
            .phone-number {
                line-height: normal;
                font-size: 12px;
            }
            img {
                width: 12px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        .top-header {
            height: 30px;
            font-size: 12px;
            .float-right {
                line-height: 30px;
            }
        }
        .bottom-header {
            height: 70px;
            .logo {
                line-height: 70px;
                img {
                    width: 67px;
                }
            }
            .local-grocery img {
                margin-left: 25px;
            }
        }

        .nav-header {
            max-height: 30px;
            .nav {
                .nav-link {
                    font-size: 10px;
                    padding-right: 0.6rem;
                    padding-left: 0.6rem;
                }
            }
        }
    }
}
