.homepage {
    padding-top: 15px;
    padding-bottom: 80px;
    background-color: $background-page;
    .section-header {
        margin-top: 33px;
        margin-bottom: 20px;
    }
    .section-1 {
        img {
            width: 100%;
        }
        .banner-left-wrapper {
            img {
                max-width: 766px;
                max-height: 286.75px;
                object-fit: cover;
            }
            padding-left: 0;
        }
        .banner-right-wrapper {
            padding-left: 0;
            img {
                max-width: 449px;
                max-height: 140px;
                object-fit: cover;
            }
            img:first-child {
                margin-bottom: 7px;
            }
        }
    }
    .section-2 {
        margin-top: 24px;
        margin-bottom: 27px;
        .item-section {
            background-color: #fff;
            padding: 15px 35px 15px 30px;
            -webkit-box-shadow: 0 1px 3px 0 rgba(223, 223, 223, 0.5);
            -moz-box-shadow: 0 1px 3px 0 rgba(223, 223, 223, 0.5);
            box-shadow: 0 1px 3px 0 rgba(223, 223, 223, 0.5);
            border-radius: 60px;
            max-height: 65px;
            display: flex;
            div {
                align-self: center;
            }
            .image-wrapper {
                margin-right: 25px;
            }
        }
        p.description {
            color: $text-grey;
        }
    }
    .section-3 {
        .row {
            flex-wrap: nowrap;
        }
        img {
            width: 100%;
        }
        .flex-column .small-image:first-child {
            margin-bottom: 10px;
        }
        .small-image {
            width: 210px;
            height: 210px;
            object-fit: cover;
            margin-right: 10px;
            img:first-child {
                margin-bottom: 10px;
            }
        }
        .middle-image {
            width: 350px;
            height: 430px;
            object-fit: cover;
            margin-right: 10px;
        }
    }
    .section-5, .section-6 {
        .body-column {
            //padding-left: 0;
            //padding-right: 0;
        }
        .image-large, .image-wide, .image-small, .sm-portrait-img, .sm-square-img {
            object-fit: cover;
        }
        .image-large {
            width: 400px;
            height: 475px;
        }

        .image-wide {
            width: 400px;
            height: 230px;
            margin-bottom: 15px;
        }

        .image-small {
            width: 190px;
            height: 230px;
        }

        .sm-portrait-img {
            width: 190px;
            height: 270px;
        }

        .sm-square-img {
            width: 190px;
            height: 190px;
        }
    }
}

@media (max-width: 1229px) {
    .homepage {
        .section-1 {
            .banner-left-wrapper {
                max-width: 590px;
            }
            .banner-right-wrapper {
                padding-right: 0;
            }
        }
        .section-2 {
            p {
                font-size: 10px;
                &.fs-16 {
                    font-size: 11px;
                }
            }
            .item-section {
                background-color: #fff;
                padding: 12.5px 25px 12.5px 17.2px;
                .image-wrapper {
                    margin-right: 17.2px;
                }
            }
        }
        .section-3 {
            .small-image {
                width: 156.5px;
                height: 156.5px;
            }
            .middle-image {
                width: 264px;
                height: 323.31px;
            }
        }
        .section-5 {
            .image-large, .image-wide {
                width: 100%;
                object-fit: cover;
            }
            .body-column {
                width: 33%;
            }
            .image-large {
                height: 363.58px;
            }
            .image-wide {
                height: 178.38px;
                margin-bottom: 9px;
            }
            .image-small {
                width: 49%;
                height: 177.34px;
            }
        }
        .section-6 {
            .sm-portrait-img, .sm-square-img {
                width: 100%
            }
            .image-large {
                width: 100%;
                object-fit: cover;
            }
            .body-column {
                width: 33%;
            }
            .image-large {
                height: 363.58px;
            }
            .sm-portrait-img {
                height: 211.75px;
            }
            .sm-square-img {
                height: 150.38px;
            }
            .body-column-2 {
                .flex-column {
                    width: 49%;
                }
                .mr-20 {
                    margin-right: 0;
                }
                .mb-15 {
                    margin-bottom: 2px;
                }
            }
        }
    }

}

@media (max-width: 991px) {
    .homepage {
        .section-3, .section-5 {
            .no-gutters.row {
                margin-right: -10px;
                margin-left: -10px;
            }
            .no-gutters > [class*="col-"] {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        .section-2 {
            margin-top: 18px;
            margin-bottom: 20px;
            .item-section {
                padding: 12.5px 17px 12.5px 15px;
                .image-wrapper {
                    margin-right: 15px;
                }
            }
        }
        .section-3 {
            .col-6 {
                width: 40%;
            }
            .col-3 {
                width: 30%;
            }
            .middle-image {
                width: 100%;
            }
            .small-image {
                width: 100%;
                height: auto;
                img:first-child {
                    margin-bottom: 20px;
                }
            }
        }
        .section-5 {
            .image-wide, .image-small {
                height: auto;
            }
            .image-wide {
                margin-bottom: 20px;
            }
        }
        .section-6 {
            .sm-portrait-img, .sm-square-img, .image-large {
                height: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .homepage {
        padding-top: 10px;
        padding-bottom: 60px;
        .section-header {
            margin-top: 30px;
            margin-bottom: 18px;
        }
        .section-1 {
            margin-left: -10px;
            margin-right: -10px;
        }
        .section-2 {
            margin-top: 17px;
            margin-bottom: 17.5px;
            .col-12:nth-child(2) {
                margin-top: 10.5px;
                margin-bottom: 10.5px;
            }
            .item-section {
                padding: 15px 35px 15px 17.2px;
                max-height: 50px;
                .image-wrapper {
                    margin-right: 16.5px;
                    width: 22px;
                }
                p.description {
                    padding-top: 2.5px;
                }
            }
        }
        .section-3 {
            .col-6:first-child {
                padding-right: 4.5px;
            }
            .col-6:nth-child(2) {
                padding-left: 4.5px;
            }
            .small-image img:first-child {
                margin-bottom: 9px;
            }
            .middle-image {
                height: auto;
            }
        }
        .section-5 {
            .body-column {
                width: 100%;
                margin-bottom: 11px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .image-large {
                height: auto;
            }
            .image-wide {
                margin-bottom: 11px;
            }
        }
        .section-6 {
            .body-column {
                width: 100%;
                margin-bottom: 13px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
