.newsletter {
    padding: 17px 0 20px 0;
    background: $text-red;
    .container {
        align-items: center;
    }
    .r6-right {
        margin-left: auto;
    }
    .r6-text-01 {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
    }
    .r6-text-02 {
        font-size: 15px;
        color: #fff;
        padding-top: 2px;
    }

    .subscribe-form:focus {
        outline: none;
    }

    .subscribe-form {
        width: 310px;
        max-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        height: 40px;
        border: 0;
        padding-left: 17px !important;
        font-size: 16px;
        text-align: left;
        margin-right: -3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .subscribe-submit {
        width: 150px;
        height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #f5a623;
        border-style: none;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        padding-left: 30px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 1229px) {
    .newsletter {
        .r6-left {
            width: 50%;
        }
    }
}


@media only screen and (max-width: 991px) {
    .newsletter {
        padding-bottom: 27px;
        .container {
            padding-left: 35px;
            padding-right: 35px;
            text-align: center;

            .r6-left {
                width: 100%;
                margin-bottom: 23px;
            }

            .subscribe-form {
                width: 256px;
                max-height: 40px;
                height: 40px;
                padding-left: 13.5px !important;
                font-size: 14px;
                margin-right: -4px;
                padding-top: 0;
                padding-bottom: 0;
            }

            .subscribe-submit {
                width: 120px;
                height: 40px;
                font-size: 14px;
                padding-left: 20px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .newsletter {
        padding: 17px 25px 33px 25px;
        text-align: center;
    }
    .newsletter .container {
        padding-left: 0;
        padding-right: 0;
        .r6-left {
            .r6-text-01 {
                margin-bottom: 4px;
            }
            .r6-text-02 {
                font-size: 12px;
                line-height: 1.5;
            }
        }
        .subscribe-form {
            width: 100%;
            text-align: center;
            margin-right: 0;
            border-radius: 3px;
            padding-left: 0 !important;
        }

        .subscribe-submit {
            width: 100%;
            text-align: center;
            margin-top: 7px;
            border-radius: 3px;
            padding-left: 7px;
        }
    }
}
