$dark-red: #c71231;
$neon-red: #e31f3f;
$placeholder: #d1d1d1;
$butterscotch: #f3b042;
$light-grey: #e8e8e8;
$light-black: #4a4a4a;
$background-page: #f4f4f4;
$text-grey: #9b9b9b;
$text-red: #e21f41;
