title = "Homepage"
url = "/"
layout = "default"
meta_title = "Juzshoplah"
is_hidden = 0

[myProductsList]
take = 12
orderBy = "id"
sort = "desc"
onSaleOnly = 1
productPage = "product"

==
<?php
use Jiri\Jkshop\Models\Category;
	function onStart(){
		$this['category'] = Category::orderBy('id','desc')->paginate(3);
$this['categories'] = Category::get();
}
?>
==
<div class="homepage">
    <div class="container">
        <div class="section-1">
            <div class="d-lg-flex d-none">
                <div class="banner-left-wrapper col-lg-8 col-xl-auto">
                    <img src="{{'assets/img/general/banner.png'|theme}}"
                         srcset="{{'assets/img/general/banner@2x.png 2x'|theme}},
                     {{'assets/img/general/banner@3x.png 3x'|theme}}" alt="banner">
                </div>
                <div class="banner-right-wrapper col-xl-auto d-lg-flex flex-column">
                    <img src="{{'assets/img/general/banner2.png'|theme}}"
                         srcset="{{'assets/img/general/banner2@2x.png 2x'|theme}},
                     {{'assets/img/general/banner2@3x.png 3x'|theme}}" alt="banner">
                    <img src="{{'assets/img/general/banner3.png'|theme}}"
                         srcset="{{'assets/img/general/banner3@2x.png 2x'|theme}},
                     {{'assets/img/general/banner3@3x.png 3x'|theme}}" alt="banner">
                </div>
            </div>
            <div class="d-block d-lg-none">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{'assets/img/general/slider-01.png'|theme}}"
                                 srcset="{{'assets/img/general/slider-01@2x.png 2x'|theme}},
                                 {{'assets/img/general/slider-01@3x.png 3x'|theme}}" alt="Slider 1">
                        </div>
                        <!--<div class="carousel-item">-->
                        <!--<img class="d-block w-100" src="{{'assets/img/general/slider-01.png'|theme}}"-->
                        <!--srcset="{{'assets/img/general/slider-01@2x.png 2x'|theme}},-->
                        <!--{{'assets/img/general/slider-01@3x.png 3x'|theme}}" alt="Slider 2">-->
                        <!--</div>-->
                        <!--<div class="carousel-item">-->
                        <!--<img class="d-block w-100" src="{{'assets/img/general/slider-01.png'|theme}}"-->
                        <!--srcset="{{'assets/img/general/slider-01@2x.png 2x'|theme}},-->
                        <!--{{'assets/img/general/slider-01@3x.png 3x'|theme}}" alt="Slider 3">-->
                        <!--</div>-->
                    </div>
                    <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
                    <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Previous</span>-->
                    <!--</a>-->
                    <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
                    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Next</span>-->
                    <!--</a>-->
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-4 align-self-start">
                    <div class="item-section">
                        <div class="d-inline-block image-wrapper">
                            <img src="{{'assets/img/icon/icon-camera.png'|theme}}"
                                 srcset="{{'assets/img/icon/icon-camera@2x.png 2x'|theme}},
                            {{'assets/img/icon/icon-camera@3x.png 3x'|theme}}" alt="banner">
                        </div>
                        <div class="d-inline-block">
                            <p class="fs-16 m-0"><b>WHAT YOU SEE IS WHAT YOU GET</b></p>
                            <p class="description m-0">Produk difoto langsung oleh kami.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 align-self-center">
                    <div class="item-section">
                        <div class="d-inline-block image-wrapper">
                            <img src="{{'assets/img/icon/icon-package.png'|theme}}"
                                 srcset="{{'assets/img/icon/icon-package@2x.png 2x'|theme}},
                            {{'assets/img/icon/icon-package@3x.png 3x'|theme}}" alt="banner">
                        </div>
                        <div class="d-inline-block">
                            <p class="fs-16 m-0"><b>EASY & SAVE</b></p>
                            <p class="description m-0">Jaminan uang kembali jika rusak/batal</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="item-section">
                        <div class="d-inline-block image-wrapper">
                            <img src="{{'assets/img/icon/shape.png'|theme}}"
                                 srcset="{{'assets/img/icon/shape@2x.png 2x'|theme}},
                            {{'assets/img/icon/shape@3x.png 3x'|theme}}" alt="banner">
                        </div>
                        <div class="d-inline-block">
                            <p class="fs-16 m-0"><b>ONLINE SUPPORT</b></p>
                            <p class="description m-0">Chat kami jika kesulitan mencari barang</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-3">
            <div class="row no-gutters">
                <div class="flex-lg-column col-6 col-md-3 col-lg-auto">
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec-3-1.png'|theme}}"
                             srcset="{{'assets/img/general/sec-3-1@2x.png 2x'|theme}},
                            {{'assets/img/general/sec-3-1@3x.png 3x'|theme}}" alt="banner">
                    </div>
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec-3-2.png'|theme}}"
                             srcset="{{'assets/img/general/sec-3-2@2x.png 2x'|theme}},
                            {{'assets/img/general/sec-3-2@3x.png 3x'|theme}}" alt="banner">
                    </div>
                </div>
                <div class="flex-lg-column col-6 col-md-3 col-lg-auto">
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec3-3.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-3@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-3@3x.png 3x'|theme}}" alt="banner">
                    </div>
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec3-4.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-4@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-4@3x.png 3x'|theme}}" alt="banner">
                    </div>
                </div>
                <div class="d-lg-flex flex-lg-column col-lg-auto d-none">
                    <div class="item middle-image">
                        <img src="{{'assets/img/general/sec3-5.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-5@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-5@3x.png 3x'|theme}}" alt="banner">
                    </div>
                </div>
                <div class="d-none d-md-block flex-lg-column col-md-3 col-lg-auto">
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec3-6.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-6@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-6@3x.png 3x'|theme}}" alt="banner">
                    </div>
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec3-7.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-7@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-7@3x.png 3x'|theme}}" alt="banner">
                    </div>
                </div>
                <div class="d-none d-md-block flex-lg-column col-md-3 col-lg-auto mr-0">
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec3-8.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-8@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-8@3x.png 3x'|theme}}" alt="banner">
                    </div>
                    <div class="item small-image">
                        <img src="{{'assets/img/general/sec3-9.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-9@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-9@3x.png 3x'|theme}}" alt="banner">
                    </div>
                </div>
            </div>
            <div class="row d-block d-md-none">
                <div class="col-12">
                    <div class="item middle-image">
                        <img src="{{'assets/img/general/sec3-5.png'|theme}}"
                             srcset="{{'assets/img/general/sec3-5@2x.png 2x'|theme}},
                            {{'assets/img/general/sec3-5@3x.png 3x'|theme}}" alt="banner">
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products-wrapper">
            <div class="section-header d-flex justify-content-between">
                <h4 class="align-self-center">New Products</h4>
                <h5 class="align-self-center text-red fs-18">See all products</h5>
            </div>
            <div class="related-products section-body d-flex">
                {% set index = 0 %}
                {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
                    {% set index = index+1 %}
                    <div class="highlight-item col">
                        <a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">
                            <div class="item">
                                {% if product.getMainImage %}
                                    <img src="{{ product.getMainImage.path }}" class="cursor-pointer product-image">
                                {% endif %}
                                <p class="fs-16 mb-30 cursor-pointer">{{ product.title }}</p>
                                <h4 class="fs-20 text-red">Rp {{ product.getFinalPriceFormated }}</h4>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="no-data">no products</div>
                {% endfor %}
            </div>
        </div>
        <div class="section-5">
            <div class="section-header d-flex">
                <h4 class="align-self-center">Discount & Promotion</h4>
            </div>
            <div class="section-body row no-gutters justify-content-between">
                <div class="body-column flex-column d-block d-col-12 d-md-none d-lg-flex">
                    <div class="image-large">
                        <img src="{{'assets/img/sample/promo-1.png'|theme}}"
                             srcset="{{'assets/img/sample/promo-1@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-1@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                    </div>
                </div>
                <div class="body-column flex-lg-column col-lg-auto col-md-6">
                    <div class="image-wide">
                        <img src="{{'assets/img/sample/promo-2.png'|theme}}"
                             srcset="{{'assets/img/sample/promo-2@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-2@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="flex-column image-small">
                            <img src="{{'assets/img/sample/promo-3.png'|theme}}"
                                 srcset="{{'assets/img/sample/promo-3@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-3@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                        </div>
                        <div class="flex-column image-small">
                            <img src="{{'assets/img/sample/promo-4.png'|theme}}"
                                 srcset="{{'assets/img/sample/promo-4@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-4@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                        </div>
                    </div>
                </div>
                <div class="body-column flex-lg-column col-lg-auto col-md-6">
                    <div class="image-wide">
                        <img src="{{'assets/img/sample/promo-5.png'|theme}}"
                             srcset="{{'assets/img/sample/promo-5@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-5@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="flex-column image-small">
                            <img src="{{'assets/img/sample/promo-6.png'|theme}}"
                                 srcset="{{'assets/img/sample/promo-6@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-6@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                        </div>
                        <div class="flex-column image-small">
                            <img src="{{'assets/img/sample/promo-7.png'|theme}}"
                                 srcset="{{'assets/img/sample/promo-7@2x.png 2x'|theme}},
                            {{'assets/img/sample/promo-7@3x.png 3x'|theme}}" alt="new product" class="discount and promotion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-6">
            <div class="section-header d-flex">
                <h4 class="align-self-center">Best Fashion</h4>
            </div>
            <div class="section-body d-block d-md-flex justify-content-between no-gutters">
                <div class="body-column flex-md-column">
                    <div class="image-large">
                        <img src="{{'assets/img/sample/best-fashion-1.png'|theme}}"
                             srcset="{{'assets/img/sample/best-fashion-1@2x.png 2x'|theme}},
                            {{'assets/img/sample/best-fashion-1@3x.png 3x'|theme}}" alt="new product" class="best fashion">
                    </div>
                </div>
                <div class="body-column body-column-2 flex-md-column">
                    <div class="d-flex justify-content-between">
                        <div class="flex-column mr-20">
                            <div class="sm-portrait-img mb-15">
                                <img src="{{'assets/img/sample/best-fashion-2.png'|theme}}"
                                     srcset="{{'assets/img/sample/best-fashion-2@2x.png 2x'|theme}},
                            {{'assets/img/sample/best-fashion-2@3x.png 3x'|theme}}" alt="new product" class="best fashion">
                            </div>
                            <div class="sm-square-img">
                                <img src="{{'assets/img/sample/best-fashion-3.png'|theme}}"
                                     srcset="{{'assets/img/sample/best-fashion-3@2x.png 2x'|theme}},
                            {{'assets/img/sample/best-fashion-3@3x.png 3x'|theme}}" alt="new product" class="best fashion">
                            </div>
                        </div>
                        <div class="flex-column">
                            <div class="sm-square-img mb-15">
                                <img src="{{'assets/img/sample/best-fashion-4.png'|theme}}"
                                     srcset="{{'assets/img/sample/best-fashion-4@2x.png 2x'|theme}},
                            {{'assets/img/sample/best-fashion-4@3x.png 3x'|theme}}" alt="new product" class="best fashion">
                            </div>
                            <div class="sm-portrait-img">
                                <img src="{{'assets/img/sample/best-fashion-5.png'|theme}}"
                                     srcset="{{'assets/img/sample/best-fashion-5@2x.png 2x'|theme}},
                            {{'assets/img/sample/best-fashion-5@3x.png 3x'|theme}}" alt="new product" class="best fashion">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-column flex-md-column">
                    <div class="image-large">
                        <img src="{{'assets/img/sample/best-fashion-6.png'|theme}}"
                             srcset="{{'assets/img/sample/best-fashion-6@2x.png 2x'|theme}},
                            {{'assets/img/sample/best-fashion-6@3x.png 3x'|theme}}" alt="new product" class="best fashion">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% put scripts %}
        <script type="text/javascript">

            if ($(window).width() >= 768) {
                $(document).on('ready', function() {
                    $(".related-products").slick({
                        dots: false,
                        infinite: true,
                        centerMode: false,
                        slidesToShow: 5,
                        variableWidth: true,
                        arrows: false
                    });
                });
            } else {
                $(document).on('ready', function() {
                    $(".related-products").slick({
                        dots: false,
                        infinite: true,
                        centerMode: false,
                        slidesToShow: 2,
                        variableWidth: true,
                        arrows: false
                    });
                });
            }
        </script>
    {% endput %}
</div>
